<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/style.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap" rel="stylesheet">
  <title>Amor Perfecto</title>
</head>

<body>

  <%- include('./partials/header') %>

  <section class="baristas-section">

    <div class="container">

      <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" id="infoAlert" style="width: 80%; margin: 0 auto;">
        <button type="button" class="close" id="markAlertSeen" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Recuerda que</h4>
        <p>Todas las compras a partir de <strong>20 de Mayo</strong> aplican</p>
      </div> -->

      <div class="page-title">
        <hr class="deco-line-1">
        <h1>CONOCE A NUESTROS EXPERTOS</h1>
        <hr class="deco-line-1">
      </div>

      <div class="row baristas-row">

        <% baristas.forEach(barista => { %>
        <% if(barista.name !== 'Luis Fernando Velez' ) { %>
        <div class="col-md-6 col-sm-12">
          <div class="card barista-card">
            <img src="<%=barista.imageUrl%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title"><%=barista.name%></h4>
              <p class="card-text"><%=barista.title%></p>
              <a href="/barista/<%=barista.name%>" class="btn btn-block btn-sm">CONOCER MÁS</a>
            </div>
          </div>
        </div>
        <% } %>
        <% }); %>
      </div>
    </div>
  </section>

  <div id='app_plugin_rebus' class='app_plugin_rebus'></div>

  <section class="loader-backdrop">
    <img src="https://www.cafeamorperfecto.com/wp-content/uploads/2019/05/1_Mesa_de_trabajo_1.png"
      alt="cafe-amor-perfecto">
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <script src="/scripts/scripts.js"></script>

  <script>
    const infoAlert = $('#infoAlert');
    const marktAlertSeen = $('#markAlertSeen');

    function markAsRead() {
      document.cookie = "markAlertSeen=true";
      console.log(document.cookie);
    }

    marktAlertSeen.on('click', () => {
      markAsRead();
    });

    if (document.cookie.split(';').some((item) => item.trim().startsWith('markAlertSeen='))) {
      infoAlert.css('display', 'none');
    }
  </script>

  <script>
    ! function () {
      var x = document.createElement("script");
      x.src = "http://localhost:8080/rebus-plugin-widget.min.js",
        x.type = "text/javascript",
        x.async = "true",
        x.onload =
        x.onreadystatechange =
        function () {
          var x = this.readyState;
          if (!x || "complete" == x || "loaded" == x)
            try {
              WidgetRebus.default.mount({
                initialState: 'close',
                token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6eyJuYW1lIjoiVGVzdCBjb24gbWFyY2FzICIsInR5cGUiOiJ3aWRnZXQiLCJXaWRnZXRDb25maWciOnsidGV4dEJ1dHRvbiI6IlRleHRvIGJvdMOzbiIsImNvbG9yQnV0dG9uRm9udCI6IiNmZmZmZmYiLCJjb2xvckJ1dHRvbkJhY2tncm91bmQiOiIjNjUzY2FkIiwid2l0aEJyYW5kcyI6dHJ1ZX19LCJldmVudElkIjoiNWU2N2E1NTk5YjZhMmE1ZjZmZTI2NzI0IiwiaWF0IjoxNTkwMDE1MDE3fQ.DWX5PKTFAqWMSF0jN4Yv3YBFswLcjvq7Fw8QMrbScKk',
                site: 'right'
              });
            } catch (e) {
              console.error('Error', e)
            }
        };
      var t = document.getElementsByTagName("script")[0];
      t.parentNode.insertBefore(x, t)
    }();
  </script>
</body>



</html>